// http://paletton.com/#uid=30u0u0ksXufhVC9mYvzuXo6-vj1

// Brand colors
$brand-primary: #F17A17;
$brand-success: #12C112;
$brand-info: #1F46A1;
$brand-warning: #F17A17;
$brand-danger: #F11717;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex: false;
$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: true;
$enable-transitions: true;
$enable-hover-media-query: true;
$enable-grid-classes: true;
